<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home | ML-IDS{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
</head>

<body>
  <div class="sidebar">
    {% if user.is_authenticated %}
    <a href="/dashboard"><i class="fa-solid fa-house"></i> &nbsp; Dashboard</a>
    <a href="/database"><i class="fa-solid fa-cube"></i> &nbsp; Database</a>
    <a href="/upload"><i class="fa-solid fa-folder"></i> &nbsp; Upload</a>
    <a href="/report"><i class="fa-solid fa-file-lines"></i> &nbsp; Report</a>
    <a href="/statistics"><i class="fa-solid fa-globe"></i> &nbsp; Statistics</a>
    <a href="/profile"><i class="fa-solid fa-user"></i> &nbsp; Profile</a>
    <a href="/logout"><i class="fa-solid fa-circle-user"></i> &nbsp; Logout</a>
    {% else %}
    <a href="/login"><i class="fa-regular fa-user"></i>&nbsp; Login</a>
    <a href="/sign-up"><i class="fa-regular fa-circle-user"></i>&nbsp; Sign Up</a>
    {% endif %}
  </div>

  <div class="main">
    {% block content %} {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/delete.js' )}}"></script>
</body>

</html>