<!DOCTYPE html>
<html>
<head>
    <title>Login or Sign-up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign Up</label>
                <input type="email" id="email" name="email" placeholder="E-Mail", required="true">
                <input type="text" id="username" name="username" placeholder="User Name" required="true">
                <input type="password" id="password1" name="password1" placeholder="Password" required="true">
                <input type="password" id="password2" name="password2" placeholder="Password Again" required="true">
                <button>Sign Up</button>
            </form>
        </div>
        <div class="login">
            <form method="POST">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" id="email" name="email" placeholder="E-Mail" required="true">
                <input type="password" id="password" name="password" name="password" placeholder="Password" required="true">
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
</html>